<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="/styles/header.css"/>
    <link rel="stylesheet" href="/styles/blog.css"/>
</head>
<body>
    <%- include("header.ejs") %>
    <section class="main">
        <h1 class="para"><%= blog.title %></h1>
        <p class="para"><%= blog.content %></p>
    </section>
</body>
</html>