<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Blog</title>
    <link rel="stylesheet" href="/styles/header.css"/>
    <link rel="stylesheet" href="/styles/delete.css"/>
</head>
<body>
    <%- include("header.ejs") %>
    <section class="main">
        <br>
        <% if (blogs.length>0) {%>
          <h2 class="cormorant-garamond heading">Your Blogs</h2>
          <br>
          <% blogs.forEach((blog)=> { %>
            <a href=""><%= blog.title %></a>
          <%})%>;
          <form id="delete-blog" action="/delete" method="POST">
            <label for="title">Title of the Blog: </label>
            <input id="title" type="text" name="titleOfBlog">
            <input id="submit-btn" name="submit" type="submit" value="SUBMIT">
          </form>
        <%}else{%>
          <img id="empty" src="images/Empty.png" alt="A feather pen saying empty"/>
          <h2>You have no blogs. To create a blog click on the "Create Blog" on the top right corner.</h2>
        <%}%>
      </section>
</body>
</html>