<header class="head-over">
    <div class="head-logo">
        <img id="head-img" src="/images/logo.png" alt="logo"/>
        <h2 id="head-title">QUILLIFY</h2>
    </div>
    <div class="head-links">
        <a class="links playfair" href="/">Home</a>
        <a class="links playfair" href="/create">Create Blog</a>
        <a class="links playfair" href="/delete">Delete Blog</a>
    </div>
</header>
